@import "tailwindcss";

:root {
  --font-geist: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

body {
  font-family: var(--font-geist);
  background: #ffffff;
  color: #171717;
}
